<p class="text-gray-400 border-b-2 border-b-gray-300 pb-4 font-text font-light lg:font-normal text-center lg:text-left text-[18px] leading-[30px]">
  Check multiple boxes below to narrow recipe search results:
</p>
<div class="mt-7 flex flex-col gap-10">
  {% comment %} By Meal Filter {% endcomment %}
  <div>
    <h4 class="font-title text-[20px] font-medium">By Meal:</h4>
    <form action=""
          class="mt-3 flex flex-col gap-2 xs:text-[18px] text-gray-400 font-text font-light">
      <div>
        <input type="checkbox"
               name="breakfast"
               id="breakfast"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="breakfast">Breakfast (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="lunch"
               id="lunch"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="lunch">Lunch (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="snack"
               id="snack"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="snack">Snack (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="dinner"
               id="dinner"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="dinner">Dinner (10)</label>
      </div>
    </form>
  </div>
  {% comment %} By Duration Filter {% endcomment %}
  <div>
    <h4 class="font-title text-[20px] font-medium">By Duration:</h4>
    <form action=""
          class="mt-3 flex flex-col gap-2 xs:text-[18px] text-gray-400 font-text font-light">
      <div>
        <input type="checkbox"
               name="l15"
               id="l15"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="l15">Less than 15min (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="l30"
               id="l30"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="l30">Less than 30min (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="l30"
               id="l45"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="l45">Less than 45min (10)</label>
      </div>
      <div>
        <input type="checkbox"
               name="l60"
               id="l60"
               class="bg-transparent hover:bg-gray-100 cursor-pointer w-5 h-5 border-2 border-primary focus:outline-none checked:bg-orange-400 checked:hover:bg-orange-400 checked:focus:bg-orange-400 focus:ring-0">
        <label for="l60">Less than 60min (10)</label>
      </div>
    </form>
  </div>
</div>
