{% extends "blog_layout.html" %}
{% load static %}
{% block content %}
  <main class="w-full mb-[100px] max-w-[1440px] mx-auto relative">
    <section class="w-full grid grid-cols-12 gap-8 lg:gap-4 xl:gap-5">
      {% comment %} User info {% endcomment %}
      <section class="px-2 col-span-12 lg:col-span-5 xl:col-span-4 max-w-[600px] lg:max-w-none mx-auto flex flex-col items-center justify-center">
        <div class="w-[160px] h-[160px] border-2 border-primary rounded-full">
          <img src="{{ request.user.avatar.url }}"
               alt=""
               class="w-full h-ful rounded-full"
               width=""
               height="">
        </div>
        <h3 class="mt-5 font-title font-medium text-[22px] lg:text-[24px] xl:text-[26px]">{{ request.user.name }}</h3>
        <h4 class="mt-2 font-title font-medium text-[18px] lg:text-[19px] xl:text-[20px] text-accent">
          @{{ request.user.username }}
        </h4>
        <div class="mt-4 w-full">
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-circle-info fa-xl text-accent"></i>
            <p class="font-text font-medium text-[19px] lg:text-[21px] xl:text-[23px]">About me</p>
          </div>
          <p class="text-[17px] lg:text-[18px] xl:text-[19px] font-text font-light mt-5 leading-[30px] lg:leading-[32px] xl:leading-[36px] text-justify">
            {% if request.user.description %}
              {{ request.user.description }}
            {% else %}
              This user has not written anything about himself yet.
            {% endif %}
          </p>
        </div>
        <div class="mt-[40px] py-4 border-y-2 border-y-gray-400 w-full flex flex-col gap-4">
          <div class="w-full flex justify-between items-center">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-file-circle-plus text-accent fa-xl"></i>
              <span class="text-gray-500 text-[18px] lg:text-[20px]">Published Recipes</span>
            </div>
            <span class="text-accent text-[20px] lg:text-[22px] font-semibold font-logo">0</span>
          </div>
          <div class="w-full flex justify-between items-center">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-heart text-accent fa-xl"></i>
              <span class="text-gray-500 text-[18px] lg:text-[20px]">Favorites Recipes</span>
            </div>
            <span class="text-accent text-[20px] lg:text-[22px] font-semibold font-logo">0</span>
          </div>
          <div class="w-full flex justify-between items-center">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-thumbs-up text-accent fa-xl"></i>
              <span class="text-gray-500 text-[18px] lg:text-[20px]">Likes received</span>
            </div>
            <span class="text-accent text-[20px] lg:text-[22px] font-semibold font-logo">0</span>
          </div>
          <div class="w-full flex justify-between items-center">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-calendar text-accent fa-xl"></i>
              <span class="text-gray-500 text-[18px] lg:text-[20px]">Profile created</span>
            </div>
            <span class="text-accent text-[20px] lg:text-[22px] font-semibold font-logo">2y ago</span>
          </div>
        </div>
      </section>
      {% comment %} User recipes {% endcomment %}
      <section class="px-2 col-span-12 lg:col-span-7 xl:col-span-8 max-w-[600px] lg:max-w-none mx-auto flex flex-col w-full items-center lg:items-start">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-utensils fa-xl text-accent"></i>
          <p class="font-text font-medium text-[19px] lg:text-[21px] xl:text-[23px]">My recipes</p>
        </div>
        <div class="grid grid-cols-12 w-full mt-5">
          <section class="w-full col-span-12 grid grid-cols-12 gap-y-8 gap-x-3 max-w-[400px] sm:max-w-[700px] md:max-w-[800px] lg:max-w-none mx-auto">
            {% if user_recipes %}
              {% for recipe in user_recipes %}
                <article class="col-span-12 md:col-span-6 xl:col-span-4">
                  <a href="#">
                    <div class="bg-green-300 h-[250px] lg:h-[280px] relative">
                      <button class="absolute top-2 right-2 cursor-pointer text-rose-500">
                        <i class="fa-regular fa-heart fa-xl"></i>
                      </button>
                    </div>
                    <div class="mt-4 flex items-center justify-between w-full max-w-[250px]">
                      <div class="flex items-center gap-2 text-gray-400">
                        <i class="fa-regular fa-clock fa-lg"></i>
                        <p class="lg:text-[18px]">30 minutes</p>
                      </div>
                      <div class="flex items-center gap-2 text-gray-400">
                        <i class="fa-regular fa-thumbs-up fa-lg"></i>
                        <p class="lg:text-[18px]">10 likes</p>
                      </div>
                    </div>
                    <h4 class="mt-2 text-[20px] font-title font-semibold lg:text-[21px] xl:text-[22px]">Este es el título de la receta</h4>
                  </a>
                </article>
              {% endfor %}
            {% else %}
              <section class="col-span-12 flex flex-col items-center justify-center gap-4">
                <i class="fa-regular fa-folder-open fa-2xl text-text"></i>
                <h3 class="text-[24px] font-semibold">There is nothing to show</h3>
                <p class="text-[20px] text-gray-400">You do not have any recipe created. Let's fix that</p>
                <a href="{% url 'blog:create-recipe' %}"
                   class="bg-primary hover:bg-accent transition-colors text-white py-2 font-medium w-[150px] text-[20px] text-center drop-shadow-md rounded-md">Create Recipe</a>
              </section>
            {% endif %}
          </section>
        </div>
      </section>
    </section>
  </main>
{% endblock content %}
